<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!-- project code to use -->
    <add key="ProjectCode" value="mdpi" />
    <add key="PathToFFMPEG" value="C:\Dependencies\ffmpeg\ffmpeg.exe" />
    <add key="PathToFFProbe" value="C:\Dependencies\ffmpeg\ffprobe.exe" />
    <add key="OutputDirectoryName" value="c:\work\output" />
    <add key="WorkingDirectoryName" value="c:\work\temp" />
    <add key="AudioDeviceToMonitor" value="Microphone (Pro 9000)" />
    <add key="FFMPEGArguments" value="-rtbufsize 1500M -stats -f dshow -i video=&quot;Logitech QuickCam Pro 9000&quot;:audio=&quot;Microphone (Pro 9000)&quot; -acodec pcm_s24le -strict -2 -ar 48000 -vcodec ffv1 -level 3 -threads 8 -coder 1 -context 1 -g 1 -slices 24 -slicecrc 1 -pix_fmt yuv422p10le"  />
    <!-- <add key="FFMPEGArguments" value="-rtbufsize 1500M -stats -f decklink -i &quot;DeckLink Studio 4K@1&quot; -acodec pcm_s24le -strict -2 -ar 48000 -vcodec ffv1 -level 3 -threads 8 -coder 1 -context 1 -g 1 -slices 24 -slicecrc 1 -pix_fmt yuv422p10le"  /> -->
    <add key="BarcodeScannerIdentifiers" value="VID_040B&amp;PID_6543"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>