<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!-- project code to use -->
    <add key="ProjectCode" value="mdpi"/>
    <add key="PathToFFMPEG" value="C:\Dependencies\ffmpeg\ffmpeg.exe"/>
    <add key="OutputDirectoryName" value="c:\work\output"/>
    <add key="FFMPEGArguments" value=""/>
  </appSettings>
</configuration>