<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!-- consult before changing -->
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <!-- consult before changing -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- project code to use -->
    <add key="ProjectCode" value="mdpi" />

    <!-- directories -->
    <add key="WhereStaffWorkDirectoryName" value="c:\work\mdpi" />
    <add key="ProcessingDirectoryName" value="c:\work\processing" />
    <add key="ErrorDirectoryName" value="c:\work\error" />
    <add key="SuccessDirectoryName" value="c:\work\success" />
    <add key="LogDirectoryName" value="c:\work\logs" />
    <!-- \\BL-MDPI-QC01\Shared\IU_Dropbox -->
    <add key="DropBoxDirectoryName" value="c:\work\dropbox" />

    <!-- helper applications -->
    <add key="PathToMetaEdit" value="C:\Dependencies\bwf-metaedit\bwfmetaedit.exe" />
    <add key="PathToFFMpeg" value="C:\Dependencies\ffmpeg\ffmpeg.exe" />
    <add key="PathToFFProbe" value="C:\Dependencies\ffmpeg\ffprobe.exe" />
    
    <!-- ffmpeg arguments -->
    <add key="ffmpegAudioProductionArguments"
         value="-c:a pcm_s24le -b:a 128k -strict -2 -ar 96000 -write_bext 1 -rf64 auto" />
    <add key="ffmpegAudioAccessArguments" value="-c:a aac -b:a 192k -strict -2 -ar 96000" />
    <add key="ffmpegVideoMezzanineArguments" value="-map 0 -vf &quot;fieldorder=tff,pad=width=720:height=512:x=0:y=26:color=black&quot; -pix_fmt yuv422p -codec:v mpeg2video -bsf:v imxdump -tag:v mx5n -aspect 4:3 -minrate:v 50000k -maxrate:v 50000k -b:v 50000k -flags +ilme+ildct+low_delay -dc 10 -intra_vlc 1 -non_linear_quant 1 -ps 1 -qmin 1 -qmax 3 -lmin QP2LAMBDA -qscale:v 1 -rc_min_vbv_use 1 -rc_max_vbv_use 1 -g 1 -bufsize 1668334 -rc_init_occupancy 1668334 -seq_disp_ext 0 -codec:a pcm_s24le -f mov"/>
    <add key="ffmpegVideoAccessArguments" value="-pix_fmt yuv420p -s 720x486 -c:v libx264 -profile:v high422 -level 3.1 -b:v 3M -c:a aac -strict -2 -b:a 128k -ar 48000 -f mp4" />
   
    <!--<add key="ffmpegVideoAccessArguments" value="-pix_fmt yuv420p -c:v libx264 -profile:v high -level 3.1 -b:v 3M -c:a aac -strict -2 -b:a 128k -ar 48000 -filter_complex &quot;[0:a:0][0:a:1]amerge=inputs=2[aout]&quot; -map 0:v -map &quot;[aout]&quot; -f mp4"/>-->
    <!--<add key="ffmpegVideoAccessArguments" value="-pix_fmt yuv420p -c:a aac -strict -2 -b:a 128k -ar 48000 -f mp4"/>-->
    
    <!-- ffprobe arguments -->
    <!-- note that you must retain movie={0} below or engine will not know where to insert file path -->
    <add key="ffprobeVideoQualityControlArguments"
         value="-f lavfi -i &quot;movie={0}:s=v+a[in0][in1],[in0]signalstats=stat=tout+vrep+brng,cropdetect=reset=1,split[a][b];[a]field=top[a1];[b]field=bottom[b1],[a1][b1]psnr[out0];[in1]ebur128=metadata=1[out1]&quot; -show_frames -show_versions -of xml=x=1:q=1 -noprivate"/>
    
    <!-- web-service-->
    <add key="PodAuthorizationFile" value="c:\dependencies\pod-Auth.xml" />
    <add key="WebServiceUrl" value="https://pod-dev.mdpi.iu.edu/" />
    <add key="UnitPrefix" value="Indiana University-Bloomington" />

    <!-- email notifier settings (optional) -->
    <add key="SmtpServer" value="mail-relay.iu.edu" />
    <add key="FromEmailAddress" value="bmoberly@iu.edu" />
    <add key="IssueNotifyEmailAddresses" value="bmoberly@iu.edu" />

    <!-- clean-up settings -->
    <add key="DeleteProcessedAfterInDays" value="14" />
  </appSettings>
  
  <!-- logger: consult before changing -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="GeneralFileLogger" xsi:type="file" layout="${date} ${message}"
              fileName="${LogDirectoryName}\Packager_${shortdate}.log" keepFileOpen="false" encoding="iso-8859-2" />
      <target name="ObjectFileLogger" xsi:type="file" layout="${date} ${message}"
              fileName="${LogDirectoryName}\${ProjectCode}_${Barcode}.log" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>

    <rules>
      <logger name="GeneralFileLogger" minlevel="Debug" writeTo="GeneralFileLogger" />
      <logger name="ObjectFileLogger" minlevel="Debug" writeTo="ObjectFileLogger" />
    </rules>
  </nlog>
</configuration>