<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key ="WhereStaffWorkDirectoryName" value = "c:\work\mdpi"/>
    <add key ="ProcessingDirectoryName" value = "c:\work\processing"/>
    <add key ="PathToMetaEdit" value = "C:\Dependencies\bwf-metaedit\bwfmetaedit.exe"/>
    <add key ="PathToFFMpeg" value = "C:\Dependencies\ffmpeg\ffmpeg.exe"/>
    <add key ="iuXmlOutputFileName" value = "test.xml"/>
    <add key ="webServiceUrl" value = "http://www.test.com"/>
    <add key ="PathToAuthenticationFile" value = "C:\Dependencies\ffmpeg\ffmpeg.exe"/>
    <add key ="ffmpegAudioProductionArguments" value="-c:a pcm_s24le -b:a 128k -strict -2 -ar 96000"/>
    <add key ="ffmpegAudioAccessArguments" value="-c:a aac -b:a 128k -strict -2 -ar 48000"/>
    <add key ="ProjectCode" value="mdpi" />
    <add key="DeleteProcessedAfterInDays" value="14" />
    <!-- \\BL-MDPI-QC01\Shared\IU_Dropbox -->
    <add key="DropBoxDirectoryName" value="c:\work\dropbox"/>
    <add key="PodAuthorizationFile" value="c:\dependencies\pod-Auth.xml"/>
    <add key="BaseWebServiceUrlFormat" value="https://pod-dev.mdpi.iu.edu/responses/objects/{0}/metadata/full/" />
    <add key="DigitizingEntity" value="Memnon Archiving Services Inc"/>
    <add key="ErrorDirectoryName" value="c:\work\error"/>
    <add key="SuccessDirectoryName" value="c:\work\success"/>
    <add key="LogDirectoryName" value="c:\work\logs" />
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name ="GeneralFileLogger" xsi:type="file"
            layout="${longdate} ${message}"
            fileName="${LogDirectoryName}\${shortdate}.log"
            keepFileOpen="false"
            encoding="iso-8859-2"/>

      <target name ="ObjectProcessingFileLogger" xsi:type="file"
              layout="${longdate} ${logger} ${message}"
              fileName="${ProcessingDirectoryName}/${ProjectCode}_${Barcode}/${Barcode}.log"
              keepFileOpen="false"
              encoding="iso-8859-2"/>
    </targets>

    <rules>
      <logger name="GeneralFileLogger" minlevel="Debug" writeTo="GeneralFileLogger" />
      <logger name="ObjectProcessingFileLogger" minlevel="Debug" writeTo="ObjectProcessingFileLogger" />
    </rules>

  </nlog>
</configuration>