<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="LookupTables">
      <section name="Units" type="System.Configuration.DictionarySectionHandler" />
      <section name="PlaybackSpeeds" type="System.Configuration.DictionarySectionHandler" />
      <section name="TrackConfigurations" type="System.Configuration.DictionarySectionHandler" />
      <section name="SoundFields" type="System.Configuration.DictionarySectionHandler" />
      <section name="TapeThicknesses" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="WhereStaffWorkDirectoryName" value="c:\work\mdpi" />
    <add key="ProcessingDirectoryName" value="c:\work\processing" />
    <add key="PathToMetaEdit" value="C:\Dependencies\bwf-metaedit\bwfmetaedit.exe" />
    <add key="PathToFFMpeg" value="C:\Dependencies\ffmpeg\ffmpeg.exe" />
    <add key="iuXmlOutputFileName" value="test.xml" />
    <add key="webServiceUrl" value="http://www.test.com" />
    <add key="PathToAuthenticationFile" value="C:\Dependencies\ffmpeg\ffmpeg.exe" />
    <add key="ffmpegAudioProductionArguments" value="-c:a pcm_s24le -b:a 128k -strict -2 -ar 96000" />
    <add key="ffmpegAudioAccessArguments" value="-c:a aac -b:a 128k -strict -2 -ar 48000" />
    <add key="ProjectCode" value="mdpi" />
    <add key="DeleteProcessedAfterInDays" value="14" />
    <!-- \\BL-MDPI-QC01\Shared\IU_Dropbox -->
    <add key="DropBoxDirectoryName" value="c:\work\dropbox" />
    <add key="PodAuthorizationFile" value="c:\dependencies\pod-Auth.xml" />
    <add key="BaseWebServiceUrlFormat" value="https://pod-dev.mdpi.iu.edu/responses/objects/{0}/metadata/full/" />
    <add key="DigitizingEntity" value="Memnon Archiving Services Inc" />
    <add key="ErrorDirectoryName" value="c:\work\error" />
    <add key="SuccessDirectoryName" value="c:\work\success" />
    <add key="LogDirectoryName" value="c:\work\logs" />
  </appSettings>

  <LookupTables>
    <Units>
      <add key="B-AAAMC" value="Indiana University, Bloomington. Archives of African American Music and Culture" />
      <add key="B-ALF" value="Indiana University, Bloomington. Auxiliary Library Facility" />
      <add key="B-ARCHIVES"
           value="Indiana University, Bloomington. Office of University Archives and Records Management" />
      <add key="B-ATM" value="Indiana University, Bloomington. Archives of Traditional Music" />
      <add key="B-BCC" value="Indiana University, Bloomington. Neal-Marshall Black Culture Center" />
      <add key="B-BUSSPEA" value="Indiana University, Bloomington. Business/SPEA Library" />
      <add key="B-CEDIR"
           value="Indiana University, Bloomington. Indiana Institute on Disability and Community. Center for Disability Information &amp; Referral" />
      <add key="B-CHEM" value="Indiana University, Bloomington. Chemistry Library" />
      <add key="B-CYCLOTRN" value="Indiana University, Bloomington. Cyclotron Facility" />
      <add key="B-EDUC" value="Indiana University, Bloomington. Education Library" />
      <add key="B-FINEARTS" value="Indiana University, Bloomington. Fine Arts Library" />
      <add key="B-GEOLOGY" value="Indiana University, Bloomington. Geology Library" />
      <add key="B-HPER" value="Indiana University, Bloomington. Public Health Library" />
      <add key="B-KINSEY"
           value="Indiana University, Bloomington. Kinsey Institute for Research in Sex, Gender, and Reproduction" />
      <add key="B-LAW" value="Indiana University, Bloomington. Law Library" />
      <add key="B-LIFESCI" value="Indiana University, Bloomington. Life Sciences Library" />
      <add key="B-LILLY" value="Indiana University, Bloomington. Lilly Library" />
      <add key="B-MUSIC" value="Indiana University, Bloomington. William and Gayle Cook Music Library" />
      <add key="B-OPTOMTRY" value="Indiana University, Bloomington. Optometry Library" />
      <add key="B-SWAIN" value="Indiana University, Bloomington. Swain Hall Library" />
      <add key="B-WELLS" value="Indiana University, Bloomington. Herman B Wells Library" />
      <add key="B-AAAI" value="Indiana University, Bloomington. African American Arts Institute" />
      <add key="B-ANTH" value="Indiana University, Bloomington. Department of Anthropology" />
      <add key="B-ASTR" value="Indiana University, Bloomington. Department of Astronomy" />
      <add key="B-BFCA" value="Indiana University, Bloomington. Black Film Center/Archives" />
      <add key="B-CSHM" value="Indiana University, Bloomington. Center for the Study of History and Memory" />
      <add key="B-CEUS" value="Indiana University, Bloomington. Department of Central Eurasian Studies" />
      <add key="B-SAGE" value="Indiana University, Bloomington. Elizabeth Sage Historic Costume Collection" />
      <add key="B-IUAM" value="Indiana University, Bloomington. Art Museum" />
      <add key="B-MATHERS" value="Indiana University, Bloomington. William Hammond Mathers Museum" />
      <add key="B-MDP" value="Indiana University, Bloomington. Media Design and Production" />
      <add key="B-JOURSCHL" value="Indiana University, Bloomington. School of Journalism" />
      <add key="B-RTVS" value="Indiana University, Bloomington. Radio and Television Services" />
      <add key="B-GBL" value="Indiana University, Bloomington. Glenn A. Black Laboratory of Archaeology" />
      <add key="B-AFRIST" value="Indiana University, Bloomington. African Studies Program" />
      <add key="B-MUSBANDS" value="Indiana University, Bloomington. Bands" />
      <add key="B-ATHBASKM"
           value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Men's Basketball" />
      <add key="B-ATHBASKW"
           value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Women's Basketball" />
      <add key="B-CELTIE"
           value="Indiana Univeristy, Bloomington. Center for Language Technology and Instructional Enrichment" />
      <add key="B-CELCAR" value="Indiana University, Bloomington. Center for Languages of the Central Asian Region" />
      <add key="B-CLACS" value="Indiana University, Bloomington. Center for Latin American and Caribbean Studies" />
      <add key="B-CDEL" value="Indiana University, Bloomington. Center for the Documentation of Endangered Languages" />
      <add key="B-CISAB" value="Indiana University, Bloomington. Center for the Integrative Study of Animal Behavior" />
      <add key="B-GLOBAL" value="Indiana University, Bloomington. Center for the Study of Global Change" />
      <add key="B-CAC" value="Indiana University, Bloomington. Center on Aging and Community" />
      <add key="B-CMCL" value="Indiana University, Bloomington. Department of Communication and Culture" />
      <add key="B-CREOLE" value="Indiana University, Bloomington. Creole Institute" />
      <add key="B-EASC" value="Indiana University, Bloomington. East Asian Studies Center" />
      <add key="B-EPPLEY" value="Indiana University, Bloomington. Eppley Institute for Parks and Public Lands" />
      <add key="B-ATHFHOCKEY"
           value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Field Hockey" />
      <add key="B-FOLKETHNO" value="Indiana University, Bloomington. Department of Folklore and Ethnomusicology" />
      <add key="B-ATHFTBL" value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Football" />
      <add key="B-GLBTSSSL"
           value="Indiana University, Bloomington. Gay, Lesbian, Bisexual, Transgender Student Support Services Office" />
      <add key="B-IPRC" value="Indiana University, Bloomington. Indiana Prevention Resource Center" />
      <add key="B-IAUNRC" value="Indiana University, Bloomington. Inner Asian &amp; Uralic National Resource Center" />
      <add key="B-IAS" value="Indiana University, Bloomington. Institute for Advanced Study" />
      <add key="B-LACASA" value="Indiana University, Bloomington. Latino Cultural Center" />
      <add key="B-LIBERIA" value="Indiana University, Bloomington. Liberian Collections" />
      <add key="B-LING" value="Indiana University, Bloomington. Linguistics Club" />
      <add key="B-OPTMSCHL" value="Indiana University, Bloomington. School of Optometry" />
      <add key="B-POLISH" value="Indiana University, Bloomington. Polish Studies Center" />
      <add key="B-PSYCH" value="Indiana University, Bloomington. Department of Psychological and Brain Sciences" />
      <add key="B-MUSREC" value="Indiana University, Bloomington. School of Music" />
      <add key="B-ATHROWING" value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Rowing" />
      <add key="B-REEI" value="Indiana University, Bloomington. Russian and East European Institute" />
      <add key="B-ATHSOCCM"
           value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Men's Soccer" />
      <add key="B-ATHSOFTB" value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Softball" />
      <add key="B-SAVAIL"
           value="Indiana University, Bloomington. Sound and Video Analysis &amp; Instruction Laboratory" />
      <add key="B-ATHTENNM"
           value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Men's Tennis" />
      <add key="B-THTR" value="Indiana University, Bloomington. Department of Theatre and Drama" />
      <add key="B-TAI" value="Indiana University, Bloomington. Traditional Arts Indiana" />
      <add key="B-GLEIM" value="Indiana University, Bloomington. Unclaimed Collection #1. Chester Gleim" />
      <add key="B-FRANKLIN" value="Indiana University, Bloomington. Unclaimed Collection #2. Franklin Hall Attic" />
      <add key="B-UNIVCOMM" value="Indiana University, Bloomington. Office of Communications and Marketing" />
      <add key="B-ATHVIDEO"
           value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Video Production" />
      <add key="B-ATHVOLLW"
           value="Indiana University, Bloomington. Department of Intercollegiate Athletics. Women's Volleyball" />
      <add key="B-WEST" value="Indiana University, Bloomington. West European Studies Film Library" />
    </Units>
  </LookupTables>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="GeneralFileLogger" xsi:type="file"
              layout="${longdate} ${message}"
              fileName="${LogDirectoryName}\${shortdate}.log"
              keepFileOpen="false"
              encoding="iso-8859-2" />

      <target name="ObjectProcessingFileLogger" xsi:type="file"
              layout="${longdate} ${logger} ${message}"
              fileName="${ProcessingDirectoryName}/${ProjectCode}_${Barcode}/${Barcode}.log"
              keepFileOpen="false"
              encoding="iso-8859-2" />
    </targets>

    <rules>
      <logger name="GeneralFileLogger" minlevel="Debug" writeTo="GeneralFileLogger" />
      <logger name="ObjectProcessingFileLogger" minlevel="Debug" writeTo="ObjectProcessingFileLogger" />
    </rules>

  </nlog>
</configuration>